@keyframes glow {
    0% {
        box-shadow: 0 0 10px 0 #ff66ff;
    }
    50% {
        box-shadow: 0 0 20px 10px #ff66ff;
    }
    100% {
        box-shadow: 0 0 10px 0 #ff66ff;
    }
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #fcfcfc, #ff45b8);
}

.container {
    width: 75%;
    min-width: 500px;
    background-color: #ffffff;
    padding: 30px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}



header {
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 30px;
}

h1 {
    color: #333; /* Adjust color as needed */
    font-size: 44px; /* Adjust font size as needed */
}

.scores {
    margin-bottom: 50px;
    text-align: right;
}

.weapons {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.weapons button {
    background-color: #ff99ff;
    color: #000000;
    border: none;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    animation: glow 1s infinite alternate;
}

.details {
    margin-top: 30px;
    text-align: center;
}

.scores,
.details {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#result {
    width: 180px;
    padding: 10px 0;
    margin: 30px auto;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#user_choice {
    color: #ff45b8; 
}

#user_choice,
#computer_choice {
    font-weight: 400;
    margin-bottom: 10px;
}

span {
    font-weight: 600;
}

/* Add animation for computer's choice */
@keyframes computerChoiceAppear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.battle {
    display: flex;
    justify-content: center;
}

.choice {
    margin: 20px;
    font-size: 30px;
    text-align: center;
    animation: computerChoiceAppear 1s ease-in;
}

/* Add animation for battle */
@keyframes battleAnimation {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.battle {
    display: flex;
    justify-content: center;
}

.choice {
    margin: 20px;
    font-size: 66px;
    text-align: center;
    opacity: 0; /* Hide choices initially */
    transition: opacity 1.5s ease-in-out; /* Smooth fade-in transition */
}

.choice.active {
    opacity: 1; /* Show choices */
}

#result {
    transition: opacity 0.5s ease-in-out; /* Smooth fade-in transition for result */
}

#result.hidden {
    opacity: 0; /* Hide result initially */
}

#result.visible {
    opacity: 1; /* Show result */
}

.hidden {
    display: none;
}
