body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    margin-top: 0;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

canvas {
    background-color: #FFF;
    margin: 20px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#idResult {
    padding: 10px 0;
    font-size: 18px;
}

#idWrongGuesses {
    margin-top: 20px;
}

#idWrongGuesses h4 {
    margin-top: 0;
}

#idArrayOfWrongGuesses {
    margin: 5px 0;
}

#letterButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#letterButtons button {
    margin: 5px;
}